*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    font-family: 'Segoe UI';
}

.App{
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    box-shadow:  0 0 35px #eee;
}

a{
    text-decoration: none;
}

button{
    border: none;
    outline: none;
    background:  transparent;
    cursor: pointer;
}


@import url("./components/headers/header.css");

@import url("./components/mainpages/doctors/doctor.css");

@import url("./components/mainpages/detailDoctor/detailDoctor.css");

@import url("./components/mainpages/auth/login.css");