.title{
    text-align: center;
    color: #555;
}

.doctors{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 30px;
    justify-items: center;
    margin: 20px 0;
}

.doctor_card{
    width: 300px;
    overflow: hidden;
    height: 580px;
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
}

.doctor_card img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.doctor_box h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
    font-size: 20px;
}

.doctor_card span{
    color: crimson;
}

.doctor_box p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 30px;
    overflow: hidden;
    color: #323232;
}

.doctor_box h6{
    width: 100%;
    height: 30px;
    overflow: hidden;
    color: #323232;
}



.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}

#btn_appoint{
    background: #555;
    margin-right: 5px;
}

#btn_view{
    background: teal;
    margin-left: 5px;
}


.doctor_card input{
    position: absolute;
    width: 25px;
    height: 25px;
}

.delete-all{
    text-align: center;
    margin: 20px;
}

.delete-all input{
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
}

.delete-all span{
    text-transform: uppercase;
    color: rgb(3,165,206);
    letter-spacing: 1.3px;
}

.delete-all button{
    border: 1px solid crimson;
    padding: 10px 25px;
    color: crimson;
    text-transform: uppercase;
}
